openapi: 3.0.3
info:
  title: Reducto Cancel Jobs API
  description: REST API for parsing, extracting, splitting, classifying, and editing complex documents. Supports PDFs, Word files, spreadsheets, presentations, and scanned images using layout-aware OCR and vision language models.
  version: v1.11.80-78-gc5c4ff11c
  contact:
    url: https://reducto.ai/
    email: support@reducto.ai
  license:
    name: Proprietary
servers:
- url: https://platform.reducto.ai
security:
- BearerAuth: []
tags:
- name: Jobs
paths:
  /jobs:
    get:
      summary: Get Jobs
      operationId: get_jobs_jobs_get
      parameters:
      - name: exclude_configs
        in: query
        required: false
        schema:
          type: boolean
          description: Exclude raw_config from response to reduce size
          default: false
          title: Exclude Configs
        description: Exclude raw_config from response to reduce size
      - name: cursor
        in: query
        required: false
        schema:
          type: string
          nullable: true
          description: Cursor for pagination. Use the next_cursor from the previous response to fetch the next page.
          title: Cursor
        description: Cursor for pagination. Use the next_cursor from the previous response to fetch the next page.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          description: Maximum number of jobs to return per page. Defaults to 100, max 500.
          default: 100
          title: Limit
        description: Maximum number of jobs to return per page. Defaults to 100, max 500.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Jobs
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SingleJob:
      properties:
        job_id:
          type: string
          title: Job Id
        status:
          type: string
          enum:
          - Pending
          - Completed
          - Failed
          - Idle
          - InProgress
          - Completing
          - Cancelled
          title: Status
        type:
          type: string
          enum:
          - Parse
          - Extract
          - Split
          - Edit
          - Pipeline
          - Classify
          title: Type
        raw_config:
          type: string
          title: Raw Config
        created_at:
          type: string
          format: date-time
          title: Created At
        source:
          nullable: true
          title: Source
        num_pages:
          type: integer
          nullable: true
          title: Num Pages
        total_pages:
          type: integer
          nullable: true
          title: Total Pages
        duration:
          type: number
          nullable: true
          title: Duration
        bucket:
          nullable: true
          title: Bucket
      type: object
      required:
      - job_id
      - status
      - type
      - raw_config
      - created_at
      - num_pages
      - total_pages
      - duration
      title: SingleJob
    JobsResponse:
      properties:
        jobs:
          items:
            $ref: '#/components/schemas/SingleJob'
          type: array
          title: Jobs
          description: List of jobs with their job_id, status, type, raw_config, created_at, num_pages and duration
        next_cursor:
          type: string
          nullable: true
          title: Next Cursor
          description: Cursor to fetch the next page of results. If null, there are no more results.
      type: object
      required:
      - jobs
      title: JobsResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key passed as a Bearer token in the Authorization header.
